@{
    ViewBag.Title = "Home Page";
}

<div>&nbsp;</div>
<div class="row row-cols-1">
    <div class="col-sm-12 col-md-7">
        <img src="~/images/tea.jpg" class="col-sm-10 col-md-11" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h2>FROM THE TEA SPROUTS, WE CREATE PASSION</h2>
        <p>
            After 50 years of experience growing and developing the highest quality of tea leaves and coffee beans coupled with our devotion to providing memorable customer experience, Phuc Long has earned the reputation as a pioneer brand having many creative ideas for the coffee and tea industry
        </p>
        <p>
            We constantly strive to create the highest quality of tea and coffee products through ceaseless effort and passion. We are truly connected to and contribute deeply to the Vietnam's longstanding culture of drinking coffee and tea.
        </p>

        <div><input type="button" value="Follow" class="btn btn-outline-success" onclick="location.href='@Url.Action("About","Home")'" /></div>
    </div>
</div>


